@font-face {
	font-family: 'DroidSansMono';
	src: url('../fonts/DroidSansMono.ttf') format('truetype');
}

html,body {
	background-color: #181818;
	color: #D4D6D7;
	margin: 0;
	padding: 0
}

/*#sidebar{
	position:fixed;
	left:0;
	top:0;
}*/

.abstract {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #181818;
}

.alignleft{
  float: left;
  width:33.33333%;
  text-align:left;
}

.aligncenter{
  float: left;
  width:33.33333%;
  text-align:center;
}

.alignright{
  float: left;
  width:33.33333%;
  text-align:left;
}

.equation {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #181818;
}

.code {
	margin-left: 11em;
	font-family: DroidSansMono;
}

.code keyword{
	color : #DC9656;
}

.code type{
	color : #F0C3F3;
}

.code identifier{
	color : #BA8BAF;
	cursor: pointer;
}

.code declaration{
	color : #7CAFC2;
}

.code string{
	color : #A1B56C;
}


.code comment{
	color : #686868
}

.code include{
	color : #BA8BAF;
}

.code directive{
	color : #BA8BAF;
}

.code braces {
	cursor: pointer;
}

.tooltip {
	display: none;
	position: absolute;
	font-family: DroidSansMono;
	font-size: 1em;
	padding: 10px;
	color: #D4D6D7;
	background-color: #282828
}

.doc {
	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;
}

titre {
	font-size: 1.2em;
}

balise {
	font-size: 1em;
	font-weight: bold;
}

description {
	margin: 20px;
	font-size: 0.8em;
}

reference
{
	color: #BA8BAF;
	cursor: pointer;
	font-size: 0.8em;
}

label
{
	color: #7CAFC2;
	font-size: 0.8em;
}
