@font-face {
	font-family: 'DroidSansMono';
	src: url('../fonts/DroidSansMono.ttf') format('truetype');
}

html,body {
	background-color: #181818;
	color: #D4D6D7;
	margin: 0;
	padding: 0
}

#sidebar{
	position:fixed;
	left:0;
	top:0;
}

.abstract {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #181818;
}

.code {
	margin-left: 11em;
	font-family: DroidSansMono;
}

.code keyword{
	color : #DC9656;
}

.code type{
	color : #F0C3F3;
}

.code identifier{
	color : #BA8BAF;
	cursor: pointer;
}

.code declaration{
	color : #7CAFC2;
}

.code string{
	color : #A1B56C;
}


.code comment{
	color : #686868
}

.code include{
	color : #BA8BAF;
}

.code directive{
	color : #BA8BAF;
}

.code braces {
	cursor: pointer;
}

.tooltip {
	display: none;
	position: absolute;
	font-family: DroidSansMono;
	font-size: 1em;
	padding: 10px;
	color: #D4D6D7;
	background-color: #282828
}

.doc {
	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;

}

h1 {
	font-size: 0.9em;
}

h2 {
	font-size: 1.1em;
}

.doc return
{

	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;
}

.doc brief
{

	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;
}

.doc param
{
	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;
}

.doc titre
{
	margin: 40px;
	font-family: DroidSansMono;
	background-color: #282828;
}
