@font-face {
	font-family: 'DroidSansMono';
	src: url('../fonts/DroidSansMono.ttf') format('truetype');
}

body {
	background-color: #181818;
	color: #D4D6D7;
}

.code {
	font-family: DroidSansMono;
}

.code keyword{
	color : #DC9656;
}

.code type{ 
	color : #F0C3F3;
}

.code identifier{
	color : #BA8BAF;
}

identifier.declaration{
	color : #7CAFC2;
}

.tooltip { 
	display: none;
	position: absolute;
	font-family: DroidSansMono;
	font-size: 1em;
	padding: 10px;
	color: #D4D6D7;
	background-color: #282828
}

.code string{
	color : #A1B56C;
}


.code comment{
	color : #585858;
}

.code directive{
	color : #BA8BAF;
}

.code braces {
	cursor: pointer;
}
